/* :root {
    --primary-text-color:#2E2F42;
    --titte-text-color:
    --accent-color:
    --primary-white-color:
} */
/* var(--primary-text-color)*/
body {
  background-color: #ffffff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.logo {
  color: #4d5ae5;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
}
.logo-studio {
  color: #2e2f42;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
}
.site-nav {
  color: #2e2f42;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.site-nav a:hover,
.site-nav a:focus {
  color: #404bbf;
}
.address-link {
  color: #434455;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.hero {
  background: #2e2f42;
}
.hero-title {
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
}
.button {
  background: #4d5ae5;
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.features-title {
  color: #2e2f42;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.features-text {
  color: #2e2f42;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.our-job {
  color: #2e2f42;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
}
.our-team {
  background: #f4f4fd;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
}
.our-team-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
}
.our-team-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #434455;
}
.footer-logo {
  background: #2e2f42;
}
.footer-logo-studio {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  color: #f4f4fd;
}
.footer-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f4f4fd;
}
.filters-button {
  font-weight: 500;
  font-size: 16px;
  color: #4d5ae5;
}
.all {
  background: #f4f4fd;
  color: #4d5ae5;
}
.all:focus,
.all:hover {
  background: #404bbf;
  color: #ffffff;
}
.web-site {
  background: #f4f4fd;
  color: #4d5ae5;
}
.web-site:focus,
.web-site:hover {
  background: #404bbf;
  color: #ffffff;
}
.app {
  background: #f4f4fd;
  color: #4d5ae5;
}
.app:focus,
.app:hover {
  background: #404bbf;
  color: #ffffff;
}
.design {
  background: #f4f4fd;
  color: #4d5ae5;
}
.design:focus,
.design:hover {
  background: #404bbf;
  color: #ffffff;
}
.marketing {
  background: #f4f4fd;
  color: #4d5ae5;
}
.marketing:focus,
.marketing:hover {
  background: #404bbf;
  color: #ffffff;
}
.filters-images-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
}
.filters-images-text {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
}
