/* :root {
    --primary-text-color:#2E2F42;
    --titte-text-color:
    --accent-color:
    --primary-white-color:
} */
/* var(--primary-text-color)*/
body {
  background-color: #ffffff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
button {
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.menu {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu :hover,
.menu :focus {
  color: #404bbf;
}
.address {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-link {
  color: #434455;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.hero {
  background: #2e2f42;
}
.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.button {
  background: #4d5ae5;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
}
.button :hover {
  background: #404bbf;
}
.button :focus {
  background: #404bbf;
}
.features-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-text {
  /* color: #434455; */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-job {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.our-team {
  background: #f4f4fd;
}
.our-team-list {
  background: #ffffff;
}
.our-team-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.our-team-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-logo {
  background: #2e2f42;
}
.footer-logo-studio {
  color: #f4f4fd;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.filters-button {
  font-weight: 500;
  font-size: 16px;
  color: #4d5ae5;
}
.all {
  background: #f4f4fd;
  color: #4d5ae5;
}
.all:focus,
.all:hover {
  background: #404bbf;
  color: #ffffff;
}
.web-site {
  background: #f4f4fd;
  color: #4d5ae5;
}
.web-site:focus,
.web-site:hover {
  background: #404bbf;
  color: #ffffff;
}
.app {
  background: #f4f4fd;
  color: #4d5ae5;
}
.app:focus,
.app:hover {
  background: #404bbf;
  color: #ffffff;
}
.design {
  background: #f4f4fd;
  color: #4d5ae5;
}
.design:focus,
.design:hover {
  background: #404bbf;
  color: #ffffff;
}
.marketing {
  background: #f4f4fd;
  color: #4d5ae5;
}
.marketing:focus,
.marketing:hover {
  background: #404bbf;
  color: #ffffff;
}
.filters-images-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.filters-images-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
